@import "@bentley/ui-core/lib/ui-core/index.scss";
@import "@bentley/ui-core/lib/ui-core/style/colors";
@import "@bentley/ui-core/lib/ui-core/style/themecolors";

.reality-data-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;

  > a {
    overflow: hidden;
  }

  &:hover {
    background: rgba($uicore-blue, .1);
    cursor: pointer;
  }

  .reality-data-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .reality-data-description {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
  }

  .icon-visibility,
  .icon-visibility-hide-2 {
    margin-right: 12px;
    font-size: 16px;
  }

  > .icon-visibility {
    color: $buic-foreground-primary;
  }

  > .icon-visibility-hide-2 {
    color: $buic-text-color ;
  }

  > .icon-more-2 {
    margin-left: auto;
    font-size: 12px;
    padding: $uicore-xs;
  }
}