//
//  Config.xcconfig
//  imodeljs-test-app
//
//  Created by Affan Khan on 1/30/20.
//  Copyright © 2020-2022 Bentley Systems, Incorporated. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
AssetRoot = $(PROJECT_DIR)/../../lib/ios/
BuildArchitecture = iOSARM64
IOSARCH = arm64
