@import "../../_geometry";

.nz-popup-popover-triangle {
  $triangle-height: 20px;
  $triangle-width: $triangle-height;

  display: flex;
  color: black;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  > .nz-triangle {
    align-self: center;
  }

  &.nz-direction-left {
    flex-direction: row;

    > .nz-triangle {
      @include triangle-right($height: $triangle-width, $width: $triangle-height, $color: currentColor);
    }
  }

  &.nz-direction-top {
    flex-direction: column;

    > .nz-triangle {
      @include triangle-bottom($height: $triangle-height, $width: $triangle-width, $color: currentColor);
    }
  }

  &.nz-direction-right {
    flex-direction: row-reverse;

    > .nz-triangle {
      @include triangle-left($height: $triangle-width, $width: $triangle-height, $color: currentColor);
    }
  }

  &.nz-direction-bottom {
    flex-direction: column-reverse;

    > .nz-triangle {
      @include triangle-top($height: $triangle-height, $width: $triangle-width, $color: currentColor);
    }
  }
}
