# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @imodeljs/admins

.github/workflows @calebmshafer @wgoehrig @ColinKerr

.gitattributes  @calebmshafer @scsewall
.gitignore      @calebmshafer @scsewall
rush.json       @calebmshafer @scsewall

/clients                        @calebmshafer @ramanujam-raman
/clients/extension              @calebmshafer @paulius-valiunas
/clients/imodelhub            @amikoliunas @Animagne

# The syntax used below tries to cover both files and folders in the common folder that operate per=package
# Due to syntax requirements, both can't be covered in a single line
#
# The three main folder patterns that covered are:
#   1. /common/api/{packageName}.api.md
#   1. /common/api/summary/{packageName}.exports.csv
#   1. /common/changes/@bentley/{packageName}/*.json

/common/**/analytical-backend.*                   @diegoalexdiaz @scsewall
/common/**/analytical-backend/                    @diegoalexdiaz @scsewall
/common/**/backend-webpack-tools/                 @calebmshafer @wgoehrig
/common/**/bentleyjs-core.*                       @imodeljs/admins
/common/**/bentleyjs-core/                        @imodeljs/admins
/common/**/build-tools/                           @calebmshafer @wgoehrig
/common/**/certa/                                 @calebmshafer @wgoehrig
/common/**/config-loader.*                        @calebmshafer @wgoehrig
/common/**/config-loader/                         @calebmshafer @wgoehrig

# Covers most client libraries, all others with more specific reviewers should be after these two lines
/common/**/*-client.*                             @calebmshafer @ramanujam-raman
/common/**/*-client/                              @calebmshafer @ramanujam-raman
/common/**/extension-client.*                     @calebmshafer @paulius-valiunas
/common/**/extension-client/                      @calebmshafer @paulius-valiunas
/common/**/imodelhub-client.*                     @amikoliunas @Animagne
/common/**/imodelhub-client/                      @amikoliunas @Animagne

/common/**/*-extension/                           @bsteinbk @calebmshafer

/common/**/ecschema-locaters.*                    @calebmshafer @ColinKerr @wgoehrig
/common/**/ecschema-locaters/                     @calebmshafer @ColinKerr @wgoehrig
/common/**/ecschema-metadata.*                    @calebmshafer @ColinKerr @wgoehrig
/common/**/ecschema-metadata/                     @calebmshafer @ColinKerr @wgoehrig
/common/**/ecschema2ts.*                          @calebmshafer @ColinKerr @wgoehrig
/common/**/ecschema2ts/                           @calebmshafer @ColinKerr @wgoehrig
/common/**/electron-manager.*                     @wgoehrig @ramanujam-raman
/common/**/electron-manager/                      @wgoehrig @ramanujam-raman
/common/**/eslint-plugin/                         @calebmshafer @paulius-valiunas
/common/**/express-server.*                       @wgoehrig @calebmshafer
/common/**/express-server/                        @wgoehrig @calebmshafer
/common/**/extension-cli/                         @calebmshafer @paulius-valiunas
/common/**/extension-webpack-tools/               @calebmshafer @wgoehrig
/common/**/frontend-devtools.*                    @imodeljs/display @Ellord207
/common/**/frontend-devtools/                     @imodeljs/display @Ellord207
/common/**/geometry-core.*                        @EarlinLutz @mgooding @RBBentley @bbastings
/common/**/geometry-core/                         @EarlinLutz @mgooding @RBBentley @bbastings
/common/**/hypermodeling-frontend.*               @imodeljs/display @bbastings
/common/**/hypermodeling-frontend/                @imodeljs/display @bbastings
/common/**/imodel-bridge.*                        @abeesh @c-macdonald @swwilson-bsi
/common/**/imodel-bridge/                         @abeesh @c-macdonald @swwilson-bsi
/common/**/imodeljs-backend.*                     @imodeljs/admins
/common/**/imodeljs-backend/                      @imodeljs/admins
/common/**/imodeljs-common.*                      @imodeljs/admins @imodeljs/display
/common/**/imodeljs-common/                       @imodeljs/admins @imodeljs/display
/common/**/imodeljs-editor-*.*                    @bbastings @kabentley @pmconne
/common/**/imodeljs-editor-*/                     @bbastings @kabentley @pmconne
/common/**/imodeljs-frontend.*                    @kabentley @bbastings @imodeljs/display
/common/**/imodeljs-frontend/                     @kabentley @bbastings @imodeljs/display
/common/**/imodeljs-i18n.*                        @calebmshafer @wgoehrig
/common/**/imodeljs-i18n/                         @calebmshafer @wgoehrig
/common/**/imodeljs-markup.*                      @kabentley @pmconne @bbastings
/common/**/imodeljs-markup/                       @kabentley @pmconne @bbastings
/common/**/imodeljs-quantity.*                    @bsteinbk @calebmshafer
/common/**/imodeljs-quantity/                     @bsteinbk @calebmshafer
/common/**/linear-referencing-backend.*           @diegoalexdiaz @scsewall
/common/**/linear-referencing-backend/            @diegoalexdiaz @scsewall
/common/**/linear-referencing-common.*            @diegoalexdiaz @scsewall
/common/**/linear-referencing-common/             @diegoalexdiaz @scsewall
/common/**/logger-config.*                        @swwilson-bsi @scsewall
/common/**/logger-config/                         @swwilson-bsi @scsewall
/common/**/map-layers/                            @bsteinbk @mdastous-bentley
/common/**/oidc-signin-tool/                      @calebmshafer @wgoehrig
/common/**/orbitgt-core.*                         @imodeljs/display
/common/**/orbitgt-core/                          @imodeljs/display
/common/**/perf-tools.*                           @calebmshafer @wgoehrig
/common/**/perf-tools/                            @calebmshafer @wgoehrig
/common/**/physical-material-backend.*            @scsewall
/common/**/physical-material-backend/             @scsewall
/common/**/presentation-*.*                       @imodeljs/presentation
/common/**/presentation-*/                        @imodeljs/presentation
/common/**/rpcinterface-full-stack-tests/         @calebmshafer @wgoehrig
/common/**/ui-*.*                                 @imodeljs/ui
/common/**/ui-*/                                  @imodeljs/ui
/common/**/webgl-compatibility.*                  @imodeljs/display @Ellord207
/common/**/webgl-compatibility/                   @imodeljs/display @Ellord207
/common/**/webpack-tools-core/                    @calebmshafer @wgoehrig

/common/config/azure-pipelines  @calebmshafer @wgoehrig @ColinKerr

/core/backend                   @imodeljs/admins
/core/backend-itwin-client      @calebmshafer @ramanujam-raman
/core/bentley                   @imodeljs/admins
/core/common                    @imodeljs/admins @imodeljs/display
/core/common/src/rpc/IModelTileRpcInterface.ts    @pmconne
/core/ecschema-locaters         @calebmshafer @ColinKerr @wgoehrig
/core/ecschema-metadata         @calebmshafer @ColinKerr @wgoehrig
/core/electron-manager          @wgoehrig @ramanujam-raman
/core/express-server            @calebmshafer @wgoehrig @ramanujam-raman
/core/frontend                  @kabentley @bbastings @imodeljs/display
/core/frontend/src/oidc         @calebmshafer @ramanujam-raman
/core/frontend/src/extension    @calebmshafer @wgoehrig
/core/frontend-devtools         @imodeljs/display @Ellord207
/core/geometry                  @bbastings @EarlinLutz @mgooding @RBBentley
/core/hypermodeling             @bbastings @imodeljs/display
/core/i18n                      @wgoehrig @calebmshafer
/core/imodel-bridge             @abeesh @c-macdonald @swwilson-bsi
/core/logger-config             @swwilson-bsi @scsewall
/core/markup                    @kabentley @pmconne @bbastings
/core/orbitgt                   @imodeljs/display
/core/quantity                  @bsteinbk @calebmshafer
/core/webgl-compatibility       @imodeljs/display @Ellord207

/docs/getting-started @calebmshafer @williamkbentley
/docs/config @calebmshafer @williamkbentley
/docs/learning/presentation @imodeljs/presentation

# These domains should be split up a bit more
/domains      @scsewall
/domains/analytical @diegoalexdiaz @scsewall
/domains/linear-referencing @diegoalexdiaz @scsewall

/editor                               @bbastings @kabentley @pmconne

/example-code                         @scsewall @swwilson-bsi

/extensions                           @bsteinbk @calebmshafer
/extensions/map-layers                @bsteinbk @mdastous-bentley

/full-stack-tests/core                @imodeljs/admins
/full-stack-tests/imodelhub-client    @amikoliunas @Animagne
/full-stack-tests/native-app    @calebmshafer @khanaffan @ramanujam-raman
/full-stack-tests/presentation  @imodeljs/presentation
/full-stack-tests/rpc           @calebmshafer @wgoehrig @swbsi
/full-stack-tests/rpc-interface @calebmshafer @wgoehrig

/presentation                   @imodeljs/presentation
/presentation/common/src/presentation-common/PresentationRpcInterface.ts @grigasp

/test-apps/analysis-importer                @RBBentley @pmconne
/test-apps/display-performance-test-app     @imodeljs/display @hnn0003
/test-apps/display-test-app                 @bbastings @kabentley @imodeljs/display
/test-apps/export-gltf                      @mgooding @pmconne
/test-apps/export-obj                       @mgooding @pmconne
/test-apps/imjs-importer                    @EarlinLutz
/test-apps/imodel-from-geojson              @mgooding @pmconne
/test-apps/imodel-from-orbitgt              @imodeljs/display
/test-apps/imodel-from-reality-model        @imodeljs/display
/test-apps/imodel-transformer               @scsewall @mgooding
/test-apps/ninezone-test-app                @imodeljs/ui
/test-apps/presentation-test-app            @imodeljs/presentation
/test-apps/synchro-schedule-importer        @RBBentley @pmconne
/test-apps/ui-test-app                      @imodeljs/ui
/test-apps/ui-test-extension                @imodeljs/ui

/tools/backend-webpack @calebmshafer @wgoehrig
/tools/build @calebmshafer @wgoehrig
/tools/certa @calebmshafer @wgoehrig
/tools/config-loader @calebmshafer @wgoehrig
/tools/extension-webpack @calebmshafer @wgoehrig
/tools/oidc-signin-tool @calebmshafer @wgoehrig
/tools/webpack-core @calebmshafer @wgoehrig
/tools/ecschema2ts @calebmshafer @ColinKerr @wgoehrig
/tools/eslint-plugin @calebmshafer @paulius-valiunas
/tools/extension-cli @calebmshafer @paulius-valiunas
/tools/internal @calebmshafer @wgoehrig
/tools/perf-tools @calebmshafer @wgoehrig

/ui @imodeljs/ui
/ui/components/src/ui-components/properties   @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/propertygrid @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/tree         @imodeljs/ui @imodeljs/presentation
