# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @imodeljs/admins

.github/workflows @calebmshafer @wgoehrig @ColinKerr

.gitattributes @calebmshafer @scsewall
.gitignore @calebmshafer @scsewall
rush.json @calebmshafer @scsewall

/clients              @calebmshafer @ramanujam-raman
# /clients/imodelhub    @amikoliunas @Animagne

/common/api/**/analytical-backend.* @diegoalexdiaz @scsewall
/common/api/**/backend-application-insights-client.* @calebmshafer @ramanujam-raman
/common/api/**/backend-itwin-client.*             @calebmshafer @ramanujam-raman
/common/api/**/bentleyjs-core.*                   @imodeljs/admins
/common/api/**/config-loader.*                    @calebmshafer @wgoehrig
/common/api/**/context-registry-client.*          @calebmshafer @ramanujam-raman
/common/api/**/ecschema-locaters.*                @calebmshafer @ColinKerr @wgoehrig
/common/api/**/ecschema-metadata.*                @calebmshafer @ColinKerr @wgoehrig
/common/api/**/ecschema2ts.*                      @calebmshafer @ColinKerr @wgoehrig
/common/api/**/electron-manager.*                 @wgoehrig @ramanujam-raman
/common/api/**/express-server.*                   @wgoehrig @calebmshafer
/common/api/**/extension-client.*                 @calebmshafer @paulius-valiunas
/common/api/**/forms-data-management-client.*     @calebmshafer @ramanujam-raman
/common/api/**/frontend-application-insights-client.*     @calebmshafer @ramanujam-raman
/common/api/**/frontend-authorization-client.*     @calebmshafer @ramanujam-raman
/common/api/**/frontend-devtools.*                @imodeljs/display
/common/api/**/geometry-core.*                    @EarlinLutz @mgooding @RBBentley @bbastings
/common/api/**/hypermodeling-frontend.*           @pmconne @bbastings
/common/api/**/imodel-bridge.*                    @abeesh @c-macdonald @swwilson-bsi
# /common/api/**/imodelhub-client.*                 @amikoliunas @Animagne
/common/api/**/imodeljs-backend.*                 @imodeljs/admins
/common/api/**/imodeljs-common.*                  @imodeljs/admins
/common/api/**/imodeljs-frontend.*                @imodeljs/admins
/common/api/**/imodeljs-i18n.*                    @calebmshafer @wgoehrig
/common/api/**/imodeljs-markup.*                  @kabentley @pmconne @bbastings
/common/api/**/imodeljs-quantity.*                @bsteinbk @calebmshafer
/common/api/**/itwin-client.*                     @calebmshafer @ramanujam-raman
/common/api/**/linear-referencing-backend.*       @diegoalexdiaz @scsewall
/common/api/**/linear-referencing-common.*        @diegoalexdiaz @scsewall
/common/api/**/logger-config.*                    @swwilson-bsi @scsewall
/common/api/**/oauth-introspection-client.*       @calebmshafer @ramanujam-raman
/common/api/**/orbitgt-core.*                     @pmconne @RBBentley
/common/api/**/perf-tools.*                       @calebmshafer @wgoehrig
/common/api/**/physical-material-backend.*        @scsewall
/common/api/**/presentation-*.*                   @imodeljs/presentation
/common/api/**/product-settings-client.*          @calebmshafer @ramanujam-raman
/common/api/**/projectshare-client.*              @calebmshafer @ramanujam-raman
/common/api/**/rbac-client.*                      @calebmshafer @ramanujam-raman
/common/api/**/reality-data-client.*              @calebmshafer @ramanujam-raman
/common/api/**/telemetry-client.*                 @calebmshafer @ramanujam-raman
/common/api/**/ui-*.*                             @imodeljs/ui
/common/api/**/usage-logging-client.*             @calebmshafer @ramanujam-raman
/common/api/**/webgl-compatibility.*              @imodeljs/display

# Specifying both of these with a large number of possible reviewers.
# All significant changes will be covered by other requirements.
/common/changes @imodeljs/core

/common/config/azure-pipelines  @calebmshafer @wgoehrig @ColinKerr

/core/backend                   @imodeljs/admins
/core/backend-itwin-client      @calebmshafer @ramanujam-raman
/core/bentley                   @imodeljs/admins
/core/common                    @imodeljs/admins
/core/common/src/rpc/IModelTileRpcInterface.ts    @pmconne
/core/ecschema-locaters         @calebmshafer @ColinKerr @wgoehrig
/core/ecschema-metadata         @calebmshafer @ColinKerr @wgoehrig
/core/electron-manager          @wgoehrig @ramanujam-raman
/core/express-server            @calebmshafer @wgoehrig @ramanujam-raman
/core/frontend                  @imodeljs/admins
/core/frontend/src/render       @imodeljs/display
/core/frontend/src/tile         @imodeljs/display
/core/frontend-devtools         @imodeljs/display
/core/geometry                  @bbastings @EarlinLutz @mgooding @RBBentley
/core/hypermodeling             @bbastings @pmconne
/core/i18n                      @wgoehrig @calebmshafer
/core/imodel-bridge             @abeesh @c-macdonald @swwilson-bsi
/core/logger-config             @swwilson-bsi @scsewall
/core/markup                    @kabentley @pmconne @bbastings
/core/orbitgt                   @RBBentley @pmconne
/core/quantity                  @bsteinbk @calebmshafer
/core/webgl-compatibility       @imodeljs/display

/docs/getting-started @calebmshafer @williamkbentley
/docs/config @calebmshafer @williamkbentley

# These domains should be split up a bit more
/domains      @scsewall
/domains/analytical @diegoalexdiaz @scsewall
/domains/linear-referencing @diegoalexdiaz @scsewall

/example-code                         @scsewall @swwilson-bsi

/extensions                           @bsteinbk @calebmshafer

/full-stack-tests/core                @imodeljs/admins
# /full-stack-tests/imodelhub-client    @amikoliunas @Animagne
/full-stack-tests/native-app    @calebmshafer @khanaffan @ramanujam-raman
/full-stack-tests/presentation  @imodeljs/presentation
/full-stack-tests/rpc           @calebmshafer @wgoehrig @swbsi
/full-stack-tests/rpc-interface @calebmshafer @wgoehrig

/presentation                   @imodeljs/presentation
/presentation/common/src/presentation-common/PresentationRpcInterface.ts @grigasp

/test-apps/analysis-importer                @RBBentley
/test-apps/display-performance-test-app     @imodeljs/display
/test-apps/display-test-app                 @kabentley @imodeljs/display
/test-apps/export-gltf                      @mgooding
/test-apps/export-obj                       @mgooding
/test-apps/imjs-importer                    @EarlinLutz
/test-apps/imodel-from-geojson              @mgooding
/test-apps/imodel-from-orbitgt              @RBBentley
/test-apps/imodel-from-reality-model        @RBBentley
/test-apps/ninezone-test-app                @imodeljs/ui
/test-apps/presentation-test-app            @imodeljs/presentation
/test-apps/synchro-schedule-importer        @RBBentley
/test-apps/ui-test-app                      @imodeljs/ui
/test-apps/ui-test-extension                @imodeljs/ui

/tools/backend-webpack @calebmshafer @wgoehrig
/tools/build @calebmshafer @wgoehrig
/tools/certa @calebmshafer @wgoehrig
/tools/config-loader @calebmshafer @wgoehrig
/tools/extension-webpack @calebmshafer @wgoehrig
/tools/oidc-signin-tool @calebmshafer @wgoehrig
/tools/webpack-core @calebmshafer @wgoehrig
/tools/ecschema2ts @calebmshafer @ColinKerr @wgoehrig
/tools/eslint-plugin @calebmshafer @paulius-valiunas
/tools/extension-cli @calebmshafer @paulius-valiunas
/tools/internal @calebmshafer @wgoehrig
/tools/perf-tools @calebmshafer @wgoehrig

/ui @imodeljs/ui
/ui/components/src/ui-components/properties   @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/propertygrid @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/tree         @imodeljs/ui @imodeljs/presentation
