/node_modules
/lib
/source/backend/node_modules
/source/backend/lib
/source/common/node_modules
/source/common/lib
/source/frontend/node_modules
/source/frontend/lib
/source/test/node_modules
/source/test/lib
.nyc_output
/source/test/output