# dependencies
node_modules
package-lock.json

# build output
.nyc_output
/**/lib
/**/build
/**/test/output
/generated-docs
/out
**/DevBuild.txt
coverage
full_stack_test_results
integration_test_results
imjs_plugins
imjs_extensions
!tools/build

# rush-specific
/common/temp
package-deps.json
/**/.rush
*.build.log
*.build.error.log

# docs
/public

# trash
*.bak
*.orig
.node-xmlhttprequest-sync*

# xcode
/**/xcuserdata

# Output of 'npm pack'
*.tgz

# Mac specfic
.DS_Store

.env

common/api/summary/summary.exports.csv

debug.log