# dependencies
/scripts/node_modules
/packages/common/node_modules
/packages/backend/node_modules
/packages/frontend/node_modules
/packages/controls/node_modules
/packages/sample/node_modules
/packages/integration-tests/node_modules

# production
/out
/packages/common/lib
/packages/common/Ruleset.schema.json
/packages/backend/lib
/packages/frontend/lib
/packages/controls/lib
/packages/sample/lib
/packages/integration-tests/lib

# rush-specific
/common/temp
package-deps.json
*.build.log
*.build.error.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.TileCache
