{
  "require": [
    "source-map-support/register",
    "ts-node/register",
    "tsconfig-paths/register",
    "jsdom-global/register",
    "ignore-styles"
  ],
  "include": [
    "**/*.ts",
    "**/*.tsx"
  ],
  "exclude": [
    "**/*.test.ts",
    "**/*.test.tsx",
    "**/*.d.ts",
    "**/*.d.tsx",
    "**/test-helpers/*.ts",
    "lib",
    "node_modules"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "reporter": [
    "text-summary",
    "html",
    "json"
  ],
  "all": true
}
