{
  "include": [
    "src/common/**/*.ts",
    "src/frontend/**/*.ts",
    "src/backend/**/*.ts"
  ],
  "exclude": [
    "src/test/*",
    "src/common/lib/*",
    "src/backend/lib/*",
    "src/frontend/lib/*"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text-summary",
    "lcov"
  ],
  "report-dir": "./coverage",
  "temp-directory": "./coverage/.nyc_output",
  "all": true
}