{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "test/**/*.ts"
  ],
  "reporter": [
    "html",
    "cobertura"
  ],
  "watermarks": {
    "lines": [
      90,
      99
    ],
    "functions": [
      90,
      99
    ],
    "branches": [
      80,
      90
    ],
    "statements": [
      80,
      90
    ]
  },
  "report-dir": "./lib/test/coverage"
}