$footer-height: 48px;

$text-font-size: 14px;
$text-font-color: #000000;

$icon-size: 16px;
$icon-color: #000000;
$icon-opacity: 0.88;
$icon-shadow: drop-shadow(0 1px #FFFFFF);

$space-between-text-and-icon: 10px;
$space-between-icons: 20px;

$dialog-border-width: 2px;
$dialog-border-color: #000000;
$dialog-bg-color: #fff;

$dialog-title-button-size: 20px;

$balloon-padding: 3px;
$min-balloon-height: $icon-size - 2 * $balloon-padding;
$min-balloon-width: $min-balloon-height;
$balloon-arrow-width: 10px;
$balloon-arrow-height: 10px;

$snap-mode-icon-size: 20px;

$nz-footer-indicator-horizontal-padding: 20px;