#main-landing-wrapper {
  margin-bottom: 0em !important;
  background-color: #fffefae3
}

.imodeljs-header-tagline {
    max-width: 75%;
    text-align: center;
    line-height: 1em;
    margin: 10px auto;
}

.imodeljs-header-tagline p {
  color: white;
  line-height: 1em;
  margin-bottom: 1em;
}

p.digital-twin {
  color: yellow;
  font-size: 350%;
}

p.tagline-magic {
  font-size: 160%;
  margin-bottom: 1.3em;
}

p.tagline-unlocking {
  color: rgb(241, 241, 241);
  font-size: 300%;
  line-height: 1;
  margin-bottom: .3em;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

#demo-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  width: 60%;
  flex-direction: column;
}

.example-view-demonstrator {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.iframe-viewer {
  width: 100%;
  height: 560px;
}

#demo-container:hover .example-view-demonstrator {
  opacity: 0.3;
}

#demo-container:hover .overlay {
  opacity: 1;
}

#viewiModelBtn {
  background-color: #6c757d;
  background-image: none;
  color: white;
}