#main-landing-wrapper {
  margin-bottom: 0em !important;
  background-color: #FAFDFF;
}

.imodeljs-header-tagline {
  max-width: 50%;
  text-align: center;
  line-height: 1em;
  margin: 3em auto;
  background: #002A44C0;
}

.imodeljs-header-tagline p {
  color: white;
  line-height: 1.5em;
  font-size: 48px;
  text-align: center;
  text-shadow: 0px 2px 4.5px rgba(0, 42, 68, 0.004);
}

p.digital-twin {
  font-weight: bold;
}

.overlay {
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

#demo-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  width: 60%;
  flex-direction: column;
}

.example-view-demonstrator {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.iframe-viewer {
  width: 100%;
  height: 560px;
}

#viewiModelBtn {
  background-color: #6c757d;
  background-image: none;
  color: white;
}

.nav-landing-container .navbar-nav {
  background: #002A44C0;
  border-radius: 25px;
}