# start off ignoring everything, and then add back only the files we want
*
!scripts/**/*.js
!bin/**/*.js
!tslint-rules/**/*.js
!package.json
!*.md
!tsconfig.json
!tsconfig-base.json
!tslint.json
