@import url("colors.css");

html,
html[data-theme="light"] {
  --dialogBackground: var(--bwc-white);
  --dialogTextColor: var(--bwc-text-color);
  --dialogDimTextcolor: var(dimgray);

  --signin-logo-color: var(--bwc-blue-4);
  --signin-hyperlink-color: var(--bwc-blue);
  --signin-hyperlink-hover-color: var(--bwc-blue-5);
}

html[data-theme="dark"] {
  --dialogBackground: var(--bwc-gray-5);
  --dialogTextColor: var(--bwc-white);
  --dialogDimTextcolor: var(--bwc-white);

  --signin-logo-color: var(--bwc-blue-4);
  --signin-hyperlink-color: var(--bwc-dataviz-blue-3);
  --signin-hyperlink-hover-color: var(--bwc-blue-5);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}
