@import "@bentley/bwc/lib/index";
@import "@bentley/ui-ninezone/lib/_scrollbar";
@import "@bentley/ui-ninezone/lib/_typography";
@import "@bentley/ui-ninezone/lib/footer/_variables";
@import "@bentley/ui-core/lib/colors";

$no-shadow: none;
$shadow: drop-shadow(0 1px 0 $text-dark);
$space-after-label: 16px;
$space-before-label: 16px;
$label-color: rgba($text-light, 0.88);
$border-color: rgba($text-light, 0.44);
$item-height: 32px;

.ListPicker-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #a0a0a0;
}

.ListPicker-column {
  @include nz-scrollbar(#c4c4c4);
  overflow: auto;
  height: 40vh;
  width: 30vh;
}

.ListPickerInnerContainer {
  border: 1px solid $border-color;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.ListPickerInnerContainer-expander {
  height: $item-height;
  width: 16px;
  padding-right: 8px;
  padding-left: 8px;
  display: table-cell;
  vertical-align: middle;
}

.ListPickerInnerContainer-header-content {
  display: table-row;
}

.ListPickerInnerContainer-header {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  cursor: pointer;
  white-space: nowrap;
  height: $item-height;
  color: $label-color;
}

.ListPickerInnerContainer-header-expanded {
  @extend .ListPickerInnerContainer-header;
  border-bottom: 1px solid $border-color;
}

.ListPickerInnerContainer-title {
  vertical-align: middle;
  display: table-cell;
}


.ListPicker-item {
  $label-color: rgba($text-light, 0.88);
  $pressed-label-color: rgba($text-light, 0.88);
  $hovered-label-color: $primary-tint;
  $focused-label-color: $primary-tint;
  $active-label-color: $primary-tint;
  $item-height: 32px;
  $item-border-width: 2px;
  $active-tool-stripe-height: 22px;
  $active-tool-stripe-width: 2px;

  white-space: nowrap;
  height: $item-height;
  color: $label-color;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;

  @include body;

  > .label {
    display: inline-block;
    margin-right: $space-after-label;
    margin-left: $space-before-label;
    line-height: $item-height;
    filter: $shadow;

    &:after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &:hover {
    color: $hovered-label-color;

    @include body1;

    > .icon, .label {
      filter: $shadow;
    }
  }

  &:active {
    background: $primary-tone;
    color: $pressed-label-color;

    > .icon, .label {
      filter: $no-shadow;
    }
  }

  &.is-focused {
    color: $focused-label-color;
    border-color: $primary-tint;
    border-width: $item-border-width;
    border-style: solid;

    @include body1;

    > .icon, .label {
      filter: $shadow;
    }
  }

  &.is-active {
    color: $active-label-color;

    @include body1;

    &::before {
      content: '';
      background-color: $active-label-color;
      display: block;
      position: relative;
      top: 0;
      left: $item-border-width + 1;
      width: $active-tool-stripe-width;
      height: $active-tool-stripe-height;
      border-radius: 2px;
    }

    > .icon, .label {
      filter: $no-shadow;
    }
  }
}

.ListPickerWidget-item {
  $label-color: rgba($text-dark, 0.88);
  $pressed-label-color: rgba($text-dark, 0.88);
  $hovered-label-color: $primary-base;
  $focused-label-color: $primary-base;
  $active-label-color: $primary-base;
  $item-height: 32px;
  $item-border-width: 2px;
  $active-tool-stripe-height: 22px;
  $active-tool-stripe-width: 2px;

  white-space: nowrap;
  height: $item-height;
  color: $label-color;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;

  @include body;

  > .label {
    display: inline-block;
    margin-right: $space-after-label;
    margin-left: $space-before-label;
    line-height: $item-height;
    filter: drop-shadow(0 1px 0 $text-light);

    &:after {
      display: block;
      content: attr(title);
      font-weight: normal;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
  }

  &:hover {
    color: $hovered-label-color;

    @include body1;

    > .icon, .label {
      filter: drop-shadow(0 1px 0 $text-light);
    }
  }

  &:active {
    background: $primary-tone;
    color: $pressed-label-color;

    > .icon, .label {
      filter: drop-shadow(0 1px 0 $text-light);
    }
  }

  &.is-focused {
    color: $focused-label-color;
    border-color: $primary-base;
    border-width: $item-border-width;
    border-style: solid;

    @include body1;

    > .icon, .label {
      filter: drop-shadow(0 1px 0 $text-light);
    }
  }

  &.is-active {
    color: $active-label-color;

    @include body1;

    &::before {
      content: '';
      background-color: $active-label-color;
      display: block;
      position: relative;
      top: 0;
      left: $item-border-width + 1;
      width: $active-tool-stripe-width;
      height: $active-tool-stripe-height;
      border-radius: 2px;
    }

    > .icon, .label {
      filter: $no-shadow;
    }
  }
}

.ListPickerWidget-title {
  $horizontal-margin: 20px;

  white-space: nowrap;
  text-align: center;
  color: $text-dark;
  filter: drop-shadow(0 1px 0 $text-light);
  margin-bottom: 9px;
  margin-left: $horizontal-margin;
  margin-right: $horizontal-margin;

  @include title;
}

