# start off ignoring everything, and then add back only the files we want
*
!lib/cjs/**/*.d.ts
!lib/cjs/**/*.d.ts.map
!lib/cjs/**/*.js
!lib/cjs/**/*.js.map
!lib/cjs/assets/**

test
perftest

!public/**
!*.md
