# iTwin.js Docs CI Build

trigger:
  branches:
    include:
      - master
      - release/*
    exclude:
      - release/2*
      - release/1*

pr:
  drafts: false
  branches:
    include:
      - master
      - release/*
    exclude:
      - release/2*
      - release/1*
  paths:
    exclude:
      - .github/CODEOWNERS

# resources:
#   pipelines:
#     pipeline: bis-docs

jobs:
- template: ./docs/docs-build.yaml
  parameters:
    workingDir: $(Pipeline.Workspace)/itwinjs-core
    outputDir: $(Agent.BuildDirectory)/tempDocsBuild/public_build
    shouldPublish: or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release'))
