# iModel.js CI Build

trigger:
  - master
  - release/*

pr:
  drafts: false
  branches:
    include:
    - master
    - release/*

jobs:
  - template: ci-core.yaml
    parameters:
      name: Node_12
      nodeVersion: 12.17.0
      pool:
        name: $(name)
        demands:
          - Agent.OS -equals $(platform)
