# iTwin.js Core CI Build

trigger:
  - master
  - release/*

variables:
  - group: Rush Build Cache SAS Token
  - group: Travis Cobbs - GitHub PAT
  - group: imodel-native secret variables
  - name: shouldWriteToCache
    value: ${{ and(eq(variables['Agent.OS'], 'Linux'), in(variables['Build.Reason'], 'IndividualCI', 'Manual')) }}
  - name: win_pool
    value: "imodelNative-Win11-VS2022"
  - name: linux_pool
    value: "imodelNative-Debian12"
  - name: mac_pool
    value: "iModelTechMacArm"
  - name: BUILD_URL
    value: "$(System.TeamFoundationCollectionUri)$(System.TeamProject)/_build/results?buildId=$(Build.BuildId)"

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**/README.md"
      - "**.api.md"
      - docs/**
      - .github/CODEOWNERS
      - common/changes/**/*.json
      - "**/CHANGELOG.json"
      - "**/CHANGELOG.md"

resources:
  repositories:
    - repository: build-pipeline-scripts
      type: git
      name: iModelTechnologies/imodeljs-build-pipeline-scripts

jobs:
  - job: VeracodeScan
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
    displayName: Veracode SAST Scan
    pool:
      vmImage: ubuntu-latest
    steps:
      - template: templates/appsec/veracode/package-veracode.yaml@build-pipeline-scripts
        parameters:
          foldersToInclude: "core,editor,domains,example-code,extensions,presentation,test-apps,tools,ui,utils" #note I skipped common, docs, full-stack-tests
          foldersToExclude: "test,public"
      - script: |
          zip_file_path="$(Build.ArtifactStagingDirectory)/veracode-scan.zip"
          file_size=$(stat -c%s "$zip_file_path")
          echo "Size of $zip_file_path is $file_size bytes."
        displayName: Print size of zip file.
      - task: Veracode@3
        inputs:
          ConnectionDetailsSelection: "Service Connection"
          AnalysisService: "AppSec - Veracode-iModelTechnologies"
          veracodeAppProfile: "iTwinjs - itwinjscore (ITJS - 2686)"
          version: "$(Build.BuildNumber)"
          filepath: "$(Build.ArtifactStagingDirectory)/veracode-scan.zip"
  - job: CheckLinkedPR
    dependsOn: []
    displayName: Get PRs
    pool:
      vmImage: ubuntu-latest

    steps:
      - checkout: self
        persistCredentials: true
      - task: UseNode@1
        inputs:
          version: "22.x"

      - bash: |
          if [[ "$(Build.Reason)" == "PullRequest" ]]; then
            branch=$(System.PullRequest.SourceBranch)

            # Use GH CLI to get the PR description, SHA and title in json format so it can be parsed
            gh pr view $branch --json title,body,headRefOid >> pr_view.json

            #save SHA and PR description
            currentSHA=$(node -e "const data = require('./pr_view.json'); console.log(data.headRefOid)")
            node -e "const data = require('./pr_view.json'); console.log(data.body)" >> body.txt

            NativeUrl=$(grep -E '^imodel-native(-internal)?: https://github\.com/iTwin/imodel-native(-internal)?/pull/*' body.txt)
          else
            echo 'This run was not triggered by a Pull request.'
            echo 'If you have a PR for this branch and wish to use a linked PR please comment in your PR "/azp run iTwin.js" to trigger the pipeline'
          fi

          # No native PRs are linked
          if [[ -z "$NativeUrl" ]]; then
            echo '##vso[task.setvariable variable=POST_STATUS;isoutput=true]true'
          else
            echo '##vso[task.setvariable variable=POST_STATUS;isoutput=true]false'
          fi

        env:
          GITHUB_TOKEN: $(GH_TOKEN)
        name: checkForPr

  - job: ParseCommitNotes
    displayName: Parse Commit Notes
    dependsOn: CheckLinkedPR
    condition: succeeded()
    continueOnError: true
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self

      - bash: git fetch https://$(GH_TOKEN)@github.com/iTwin/itwinjs-core refs/notes/commits:refs/notes/commits
        displayName: git fetch refs/notes/commits

      - bash: |
          commitId="$(Build.SourceVersion)"
          commitNote=$(git notes show $commitId | tr '\n' ' ')
          echo "Commit $commitId has note: \"$commitNote\""
          echo "##vso[task.setvariable variable=notes;isOutput=true]$commitNote"
        displayName: Get commit notes
        name: getCommit

      - bash: |
          # This note indicates that the commit should be published to npm
          commitId="$(Build.SourceVersion)"
          shouldPublishRegex="SHOULD_PUBLISH"
          if [[ "$(getCommit.notes)" =~ $shouldPublishRegex ]]; then
            echo "$commitId will be published because it's a version bump"
            echo '##vso[task.setvariable variable=shouldPublish;isOutput=true]true'
          else
            echo "$commitId won't be published because it's not a version bump"
            echo '##vso[task.setvariable variable=shouldPublish;isOutput=true]false'
          fi
        displayName: Parse SHOULD_PUBLISH git commit note
        name: publishNote

      - bash: |
          # This note indicates that changes from the ESLint deprecation rule must be reviewed
          # and approved before continuing with the release process.
          commitId="$(Build.SourceVersion)"
          deprecationCommentChangesRegex="DEPRECATION_COMMENT_CHANGES_PR"
          if [[ "$(getCommit.notes)" =~ $deprecationCommentChangesRegex ]]; then
            echo "$commitId has deprecation comment changes that should be reviewed before release"
            echo '##vso[task.setvariable variable=shouldRequireApproval;isOutput=true]true'
          else
            echo "$commitId doesn't have any deprecation comment changes that need reviewal"
            echo '##vso[task.setvariable variable=shouldRequireApproval;isOutput=true]false'
          fi
        displayName: Parse DEPRECATION_COMMENT_CHANGES_PR note
        name: deprecationCommentNote

  - job: WaitForCodeChangeValidation
    displayName: Wait for code change validation
    dependsOn: ParseCommitNotes
    condition: and(succeeded(), eq(dependencies.ParseCommitNotes.outputs['deprecationCommentNote.shouldRequireApproval'], 'true'))
    pool: server
    timeoutInMinutes: 5760 # 4 days
    steps:
      - task: ManualValidation@0
        timeoutInMinutes: 4320 # 3 days
        inputs:
          notifyUsers: |
            Arun.George@bentley.com
            Nick.Tessier@bentley.com
            Paul.Connelly@bentley.com
            Caleb.Shafer@bentley.com
            Bill.Goehrig@bentley.com
            Ben.Polinsky@bentley.com
          instructions: |
            Current commit is a version bump and it will be released to npm.
            This check was added as an additional safety mechanism until new changes made in run-eslint-deprecation.yaml mature.
            Please validate ESLint deprecation date rule changes before approving this check.
            To do so find the commit named "Apply deprecation date rule for vX.X.X" on this branch
            and inspect the changes for any anomalies.
          onTimeout: "reject"

  - job: Build
    dependsOn:
      - WaitForCodeChangeValidation
      - ParseCommitNotes
    condition: and(succeeded('ParseCommitNotes'), not(canceled()))
    strategy:
      matrix:
        "Windows_Node_22":
          platform: Windows_NT
          name: $(win_pool)
        "Linux_Node_22":
          platform: Linux
          name: $(linux_pool)
        "MacOS_Node_22":
          platform: Darwin
          name: $(mac_pool)

    pool:
      name: $(name)
      demands:
        - Agent.OS -equals $(platform)

    timeoutInMinutes: 60

    workspace:
      clean: all

    variables:
      shouldPublishNpm: $[ dependencies.ParseCommitNotes.outputs['publishNote.shouldPublish'] ]

    steps:
      - checkout: self
        clean: true
        timeoutInMinutes: 5
        retryCountOnTaskFailure: 1
      - template: ../templates/core-build.yaml
        parameters:
          nodeVersion: 22.x
          buildMobile: true
      # Will run if even there is a failure somewhere else in the pipeline.
      - template: ../templates/publish-test-results.yaml
        parameters:
          nodeVersion: 22.x
      # The publish script identifies any new packages not previously published and tags the build
      - template: ../templates/publish.yaml

  - job: CreateReleaseTag
    displayName: Create Release Tag
    dependsOn:
      - Build
      - ParseCommitNotes
    condition: and(succeeded('Build'), eq(dependencies.ParseCommitNotes.outputs['publishNote.shouldPublish'], 'true'), ne(variables['Build.Reason'], 'PullRequest'))
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self

      - bash: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin
        displayName: Setup Git

      - bash: |
          # Get version from version-policies.json
          version=$(jq -r '.[] | .version' common/config/rush/version-policies.json)
          echo "Creating release tag for version: $version"
          echo "##vso[task.setvariable variable=releaseVersion]$version"
        displayName: Get release version

      - bash: |
          # Create and push the release tag
          git tag -a "release/$(releaseVersion)" -m "v$(releaseVersion)"
          git push https://$(GH_TOKEN)@github.com/iTwin/itwinjs-core "release/$(releaseVersion)"
        displayName: Create and push release tag

  - job: PostResult
    dependsOn:
      - CheckLinkedPR
      - Build
    condition: and(succeeded(), eq(dependencies.CheckLinkedPR.outputs['checkForPr.POST_STATUS'], 'true'), eq(variables['Build.Reason'], 'PullRequest'))
    displayName: Post Success
    pool:
      vmImage: ubuntu-latest

    steps:
      - bash: |
          branch=$(System.PullRequest.SourceBranch)
          sha=$(gh pr view $branch --json "headRefOid" -q ".headRefOid")
          echo "Posting 'success' status to current PR"
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            /repos/$(Build.Repository.Name)/statuses/$sha \
            -f state='success' \
            -f target_url='$(BUILD_URL)' \
            -f context='itwinjs-core PR validation' \
            -f description='No native PR was linked'
        env:
          GITHUB_TOKEN: $(GH_TOKEN)
