# iTwin.js Core CI Build

trigger:
  - master
  - release/*

variables:
  - group: Rush Build Cache SAS Token
  - group: Travis Cobbs - GitHub PAT
  - name: shouldWriteToCache
    value: ${{ and(eq(variables['Agent.OS'], 'Linux'), in(variables['Build.Reason'], 'IndividualCI', 'Manual')) }}
  - name: win_pool
    value: 'iModelTechCI'
  - name: linux_pool
    value: 'iModeljs Linux'
  - name: mac_pool
    value: 'iModelTechMacArm'


pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**.md"
      - docs/**
      - .github/CODEOWNERS
      - common/changes/**/*.json
      - "**/CHANGELOG.json"
      - "**/CHANGELOG.md"

jobs:
  - job:

    strategy:
      matrix:
        "Windows_Node_20":
          platform: Windows_NT
          name: $(win_pool)
        "Linux_Node_20":
          platform: Linux
          name: $(linux_pool)
        "MacOS_Node_20":
          platform: Darwin
          name: $(mac_pool)

    pool:
      name: $(name)
      demands:
        - Agent.OS -equals $(platform)

    timeoutInMinutes: 60

    workspace:
      clean: all

    steps:
      - checkout: self
        clean: true
      - template: ../templates/core-build.yaml
        parameters:
          nodeVersion: 20.x
          buildMobile: true
      # Will run if even there is a failure somewhere else in the pipeline.
      - template: ../templates/publish-test-results.yaml
        parameters:
          nodeVersion: 20.x
      # The publish script identifies any new packages not previously published and tags the build
      - template: ../templates/publish.yaml
