# iTwin.js Core CI Build

trigger:
  - master
  - release/*
  - appui-4.0

variables:
  - group: Rush Build Cache SAS Token
  - name: shouldWriteToCache
    value: ${{ and(eq(variables['Agent.OS'], 'Linux'), in(variables['Build.Reason'], 'IndividualCI', 'Manual')) }}

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**.md"
      - docs/**
      - .github/CODEOWNERS

jobs:
  - template: ci-core.yaml
    parameters:
      name: Node_16
      nodeVersion: 16.13.0
      buildIos: true
      pool:
        name: iModelTechMacArm
        demands:
          - Agent.OS -equals $(platform)
          - Agent.Name -equals BuildMacM1Minion52-A

