# iTwin.js Core CI Build

trigger:
  - master
  - release/*
  - appui-4.0

variables:
  - group: Rush Build Cache SAS Token
  - name: shouldWriteToCache
    value: ${{ and(eq(variables['Agent.OS'], 'Linux'), in(variables['Build.Reason'], 'IndividualCI', 'Manual')) }}
  - name: ios
    type: boolean
    value: ${{ eq(variables['Agent.OS'], 'Darwin') }}

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**.md"
      - docs/**
      - .github/CODEOWNERS
      - common/changes/**/*.json
      - "**/CHANGELOG.json"
      - "**/CHANGELOG.md"

jobs:
- job:

  strategy:
    matrix:
      "Windows_Node_18":
        OS: windows-latest
        platform: Windows_NT
        name: $(win_pool)
      "Linux_Node_18":
        OS: ubuntu-latest
        platform: Linux
        name: $(linux_pool)
      "MacOS_Node_18":
        OS: macOS-latest
        platform: Darwin
        name: $(mac_pool)

  pool:
    name: $(name)
    demands:
      - Agent.OS -equals $(platform)
    variables:
    - name: ios
      value: $(ios)

  timeoutInMinutes: 60

  workspace:
    clean: all

  steps:
  - checkout: self
    clean: true
  - template: ../templates/core-build.yaml
    parameters:
      nodeVersion: 18.12.x
      buildIos: ${{ eq(variables['Agent.OS'], 'Darwin') }}
  # Will run if even there is a failure somewhere else in the pipeline.
  - template: ../templates/publish-test-results.yaml
    parameters:
      NodeVersion: 18.12.x
  # The publish script identifies any new packages not previously published and tags the build
  - template: ../templates/publish.yaml
