// Copyright (c) Bentley Systems, Incorporated. All rights reserved.
// See LICENSE.md in the project root for license terms and full copyright notice.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ASSET_ROOT = $(PROJECT_DIR)/../../lib/ios/assets/
