@import "@bentley/ui-core/lib/colors";
@import "../../_geometry";
@import "../../_z-index";

.nz-popup-tooltip-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(#333, 0.9);
  color: $text-light;

  @include nz-z-index(tooltip);
}
