@import "../../_geometry";
@import "../_variables";

.nz-widget-toolSettings-toggle {
  $triangle-width: 4px;
  $triangle-height: $triangle-width;
  $triangle-offset: 2px;

  position: relative;

  > .nz-toggle {
    cursor: pointer;
    border: 1px solid #666;
    box-sizing: border-box;
    position: relative;

    > .nz-content {
      padding-right: $triangle-width + $triangle-offset + $triangle-offset;
    }

    > .nz-triangle {
      position: absolute;
      right: 2px;
      bottom: 2px;

      @include triangle-bottom-right($height: $triangle-width, $width: $triangle-height, $color: #666);
    }
  }

  > .nz-popover {
    left: 50%;
    transform: translateX(-50%);
    color: $nz-widget-border-color;
  }
}
