.nz-widget-toolSettings-tooltip {
  background-color: rgba(#333, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  color: #FFF;

  > .nz-step-string {
    white-space: nowrap;
  }
}
