.nz-widget-toolSettings-tooltip {
  background-color: rgba(#333, 0.6);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  color: #FFF;

  &.nz-is-visible {
    display: flex;
  }

  > .nz-step-string {
    white-space: nowrap;
  }
}
