.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App .Header {
  flex: 0 1 auto;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App .Header h2 {
  display: inline-block;
  vertical-align: middle;
}

.App .Content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.App .Content-Top {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid black;
}

.App .Content-Bottom {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}