# Release pipeline for the iTwin.js Docs site

trigger: none
pr: none

# Octopus requires release be of format 'x.y.z' or 'w.x.y.z'
name: $(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)

resources:
  pipelines:
  - pipeline: bemetalsmith-tests
    source: Bemetalsmith - Selenium Tests
    version: 1764396

  repositories:
  - repository: build-pipeline-scripts
    type: git
    name: iModelTechnologies/imodeljs-build-pipeline-scripts
    ref: refs/heads/docs-release-pipeline-templates
  - repository: bemetalsmith
    type: git
    name: iModelTechnologies/BeMetalsmith
    ref: refs/heads/master

variables:
  octopusProjectName: iModel.js Documentation
  ShortCode: IMJD
  PrgId: 2813
  GprId: 2833

stages:
  - stage: Build
    displayName: Build Docs
    jobs:
    - template: ./jobs/docs/docs-build.yaml
      parameters:
        workingDir: $(Pipeline.Workspace)/itwinjs-core
        outputDir: $(Agent.BuildDirectory)/tempDocsBuild/public_build
        shouldPublish: true
    - template: templates/appsec/scanners/source-scans.yaml@build-pipeline-scripts
      parameters:
        shortCode: $(ShortCode)
        gprId: $(GprId)
        suppressionFilePath: $(Build.SourcesDirectory)/common/config/azure-pipelines/credscan/credscan-supressions.json

  - stage: CreateRelease
    displayName: Create release
    dependsOn: Build
    jobs:
    - template: ./jobs/docs/package-docs.yaml

  - stage: DEV
    displayName: Deployment (DEV)
    dependsOn: CreateRelease
    jobs:
    - template: ./jobs/docs/deploy-docs.yaml
      parameters:
        variableGroup: iTwin.js Docs - DEV

  - stage: ProductTestsDEV
    displayName: Product Tests (DEV)
    dependsOn: DEV
    jobs:
    - job: ProductTests_Dev
      pool:
        name: SecurityScans
        demands: Agent.OS -equals Windows_NT
      variables:
      - group: Selenium Test Variables
      - name: env
        value: Development
      - name: SeleniumTestUrl
        value: https://dev.imodeljs.org
      steps:
        - template: ./templates/docs-product-test-steps.yaml

  - stage: QA
    displayName: Deployment (QA)
    dependsOn: ProductTestsDEV
    jobs:
    - template: ./jobs/docs/deploy-docs.yaml
      parameters:
        variableGroup: iTwin.js Docs - QA

  - stage: ProductTestsQA
    displayName: Product Tests (QA)
    dependsOn: QA
    jobs:
    - template: templates/appsec/security-scans.yaml@build-pipeline-scripts
      parameters:
        gprId: $(GprId)
        shortCode: $(ShortCode)
        targetUrl: https://qa.imodeljs.org
        steps:
          - template: ./templates/docs-product-test-steps.yaml
        variables:
        - group: ZapSecurityScan
        - group: Selenium Test Variables
        - name: env
          value: QA
        - name: SeleniumTestUrl
          value: https://qa.imodeljs.org
        pssFolderName: $(ShortCode)_$(Build.BuildNumber)
        skipCheckout: true

  - stage: LinkValidatorQA
    displayName: Link Validator (QA)
    dependsOn: QA
    jobs:
    - template: ./jobs/docs/validate-links.yaml
      parameters:
        env: QA

  - stage: UpdateDocumentationIndexQA
    displayName: Update Documentation Index (QA)
    dependsOn: QA
    jobs:
    - template: ./jobs/docs/update-docs-index.yaml
      parameters:
        variableGroup: iTwin.js Docs - Algolia - QA

  - stage: Scorecard
    displayName: Scorecard
    dependsOn: ProductTestsQA
    jobs:
    - template: templates/scorecard/docs-scorecard.yaml@build-pipeline-scripts
      parameters:
        variableGroup: iTwin.js Docs - Scorecard
        artifactName: DocsBuild

  - stage: PROD
    displayName: Deployment (PROD)
    dependsOn: Scorecard
    jobs:
    - template: ./jobs/docs/deploy-docs.yaml
      parameters:
        variableGroup: iTwin.js Docs - PROD

  - stage: ProductTestsPROD
    displayName: Product Tests (PROD)
    dependsOn: PROD
    jobs:
    - job: ProductTests_Prod
      pool:
        name: SecurityScans
        demands: Agent.OS -equals Windows_NT
      variables:
      - group: Selenium Test Variables
      - name: env
        value: Production
      - name: SeleniumTestUrl
        value: https://itwinjs.org
      steps:
        - template: ./templates/docs-product-test-steps.yaml

  - stage: UpdateDocumentationIndexPROD
    displayName: Update Documentation Index (PROD)
    dependsOn: PROD
    jobs:
    - template: ./jobs/docs/update-docs-index.yaml
      parameters:
        variableGroup: iTwin.js Docs - Algolia - PROD
