# iTwin.js Core CI Build
#
# This build is used to validate all fork-based PRs and run on a schedule to provide the build status in the README.
#
# It runs on the Hosted Azure Pipelines machines which are slow building the code in the repo, especially the test-apps
# which require several webpacking steps. Due to the time it takes to run, these are only used in a limited number of cases.
#
# The main CI build used is the ./jobs/fast-ci.yaml due to it running on a set of faster machines. However, those are currently
# only available to members of the iModel.js GitHub Organization for security reasons. This may change in the future but for now
# the limitation will exist.
#
# This build is not automatically queued for fork-based PRs and needs to be manually triggered by using a comment trigger in the PR.
# Anyone in the iModel.js Org can trigger this pipeline by adding this comment,
#   `/azp run imodeljs.imodeljs`

trigger: none

schedules:
  - cron: "0 5 * * *"
    displayName: Daily midnight build
    branches:
      include:
        - master
        - releases/*

jobs:
  - template: jobs/ci-core.yaml
    parameters:
      name: Node_14
      nodeVersion: 14.17.4
      pool:
        vmImage: $(OS)
