# iTwin.js Helgrind Testing

resources:
  repositories:
  - repository: buildscripts
    type: git
    name: iModelTechnologies/imodeljs-build-pipeline-scripts


trigger: none
pr: none
schedules:
  - cron: "0 5 * * Sat"
    displayName: Weekly Saturday Helgrind Testing
    branches:
      include:
        - master
    always: false

jobs:
  - job:
    timeoutInMinutes: 180
    pool:
      name: iModelTechCI
      demands:
      - Agent.OS -equals Linux
      - Agent.Name -equals BuildLinuxMinion01-A
    variables:
      HELGRIND_RESULTS: $(Build.StagingDirectory)/helgrind-results/
    workspace:
      clean: all

    steps:
      - checkout: self
        clean: true

      - task: NodeTool@0
        displayName: "Use Node 16"
        inputs:
          versionSpec: 16.15.0
          checkLatest: true

      - script: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin
        displayName: git config

      # - script: sudo apt-get update
      #   displayName: apt update

      # - script: sudo apt-get install valgrind
      #   displayName: apt install valgrind

      # setup env to inject debug build during install
      - template: templates/install-node-addon-from-artifact.yaml@buildscripts
        parameters:
          buildId: 1748175 # 3.5 somethin

      - script: node common/scripts/install-run-rush.js install
        displayName: rush install

      - script: node common/scripts/install-run-rush.js rebuild
        displayName: rush rebuild
        condition: succeeded()

      - script: mkdir $(HELGRIND_RESULTS)

      - script: |
          free -m
          LINES=20 top -b -d 2 -w > $(HELGRIND_RESULTS)/top.log &
          valgrind --tool=helgrind --suppressions=$(Agent.BuildDirectory)/s/common/config/azure-pipelines/helgrind.supp --gen-suppressions=all --history-level=approx node node_modules/mocha/bin/mocha.js |& tee $(HELGRIND_RESULTS)helgrind$(Build.BuildId).txt
          kill $(jobs -p)
        displayName: "Run Valgrind's datarace detector (helgrind) on core-backend tests"
        failOnStderr: false
        workingDirectory: $(Agent.BuildDirectory)/s/core/backend
        timeoutInMinutes: 160 # assume 20 minutes of time for everything else

      - task: archiveandpublishartifact@0
        inputs:
          rootFolderOrFile: '$(HELGRIND_RESULTS)'
          archiveFolder: '$(Build.ArtifactStagingDirectory)'
          artifactName: 'HelgrindReport-$(Build.BuildId)'
        condition: always()

      - task: PythonScript@0
        inputs:
          scriptSource: filepath
          scriptPath: common/config/azure-pipelines/utils/log_valgrind_errors.py
          arguments: '$(HELGRIND_RESULTS)helgrind$(Build.BuildId).txt'
        condition: always()
