# iTwin.js Core Integration Validation Build
#
# This integration test job currently runs on all supported operating systems and node versions of iTwin.js.
# Runs against master on a weekly schedule, in the future this should be a required check before bumping versions.

trigger: none
pr: none

schedules:
  - cron: "0 0 * * Sun"
    displayName: Weekly Sunday build
    branches:
      include:
        - master

variables:
  - group: iTwin.js non-secret config variables
  - group: iTwin.js Integration Test Users

jobs:
  - job: Integration_Tests_Full
    strategy:
      matrix:
        Linux_node_18_x:
          imageName: ubuntu-latest
          nodeVersion: 18.x
        Windows_node_18_x:
          imageName: windows-latest
          nodeVersion: 18.x
        MacOS_node_18_x:
          imageName: macos-latest
          nodeVersion: 18.x
        Linux_node_20_x:
          imageName: ubuntu-latest
          nodeVersion: 20.11.1
        Windows_node_20_x:
          imageName: windows-latest
          nodeVersion: 20.11.1
        MacOS_node_20_x:
          imageName: macos-latest
          nodeVersion: 20.11.1
    pool:
      vmImage: $(imageName)
    steps:
      - template: templates/integration-test-steps.yaml
        parameters:
          nodeVersion: $(nodeVersion)
