# iTwin.js Core Integration PR Validation Build
#
# This integration test job currently run on all supported Node Versions of iTwin.js.
# To decrease build load, only the latest Node version is tested on pull requests.
# All other versions are run on `master` and `release/*` branches.
#
# Note: Currently a subset of all integration tests

trigger:
  - master
  - release/*
pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*
  paths:
    exclude:
      - "**.md"
      - docs/**
      - .github/CODEOWNERS

variables:
  - group: iTwin.js non-secret config variables
  - group: iTwin.js Integration Test Users

jobs:
  - job: Node_18_x
    condition: succeeded()
    pool:
      # vmImage: ubuntu-latest
      vmImage: windows-latest
    steps:
      - template: templates/integration-test-steps.yaml
        parameters:
          Node_Version: 18.x
