# iModel.js Integration PR Validation Build
#
# This integration test job currently run on all supported Node Versions of iModel.js.
# To decrease build load, only the latest Node version is tested on pull requests.
# All other versions are run on `master` and `release/*` branches.
#
# Note: Currently a subset of all integration tests

trigger:
  - master
  - release/*
pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - master
      - release/*

variables:
  - group: iModel.js non-secret config variables
  - group: iModel.js Integration Test Users

jobs:
  - job: Integration_Tests_PR_Validation
    pool:
      vmImage: ubuntu-20.04
    steps:
      - template: templates/integration-test-steps.yaml
        parameters:
          Node_Version: 14.x
