# iTwin.js Core Integration Client Regression PR Validation Build
#
# This integration test job uses the older internal 'imsoidcui' IMS authority and
# OIDC clients to make sure that workflow is still supported.

trigger:
  - master
pr: none

variables:
  - group: iModel.js non-secret config variables
  - group: iModel.js Integration Test Users

jobs:
  - job: Node_20_x
    condition: succeeded()
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self
        clean: true
        fetchDepth: 1
        condition: eq('${{ parameters.nativePrVal }}', 'false')

      - template: templates/integration-test-steps.yaml
        parameters:
          nodeVersion: 20.x
