# iModel.js Integration PR Validation Build
#
# Note: Currently a subset of all integration tests

trigger:
  - master
  - release/*

pr:
  drafts: false
  branches:
    include:
      - master
      - release/*

variables:
  - group: iModel.js non-secret config variables
  - group: iModel.js Integration Test Users

jobs:
  - job: Build
    condition: succeeded()
    strategy:
      matrix:
        "Node 10.17.0":
          Node_Version: 10.17.0
        "Node 10.x":
          Node_Version: 10.x
        "Node 12.x":
          Node_Version: 12.x

    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self
        clean: all

      - template: templates/setup-integration-users.yaml

      - task: NodeTool@0
        displayName: "Use Node $(Node_Version)"
        inputs:
          versionSpec: "$(Node_Version)"
          checkLatest: true

      - script: "git config --local user.email imodeljs-admin@users.noreply.github.com"
        displayName: "git config email"
      - script: "git config --local user.name imodeljs-admin"
        displayName: "git config name"

      - script: node ./common/scripts/install-run-rush install
        displayName: rush install

      - script: |
          node ./common/scripts/install-run-rush build -v --to backend-itwin-client

          node ./common/scripts/install-run-rush build -v --to context-registry-client

          node ./common/scripts/install-run-rush build -v --to extension-client

          node ./common/scripts/install-run-rush build -v --to forms-data-management-client

          node ./common/scripts/install-run-rush build -v --to product-settings-client

          node ./common/scripts/install-run-rush build -v --to projectshare-client

          node ./common/scripts/install-run-rush build -v --to rbac-client

          node ./common/scripts/install-run-rush build -v --to reality-data-client

          node ./common/scripts/install-run-rush build -v --to usage-logging-client

          node ./common/scripts/install-run-rush build -v --to @bentley/imodelhub-client-tests

          node ./common/scripts/install-run-rush build -v --to core-full-stack-tests

          node ./common/scripts/install-run-rush build -v --to rpcinterface-full-stack-tests

          node ./common/scripts/install-run-rush build -v --to presentation-full-stack-tests

          node ./common/scripts/install-run-rush build -v --to oidc-signin-tool
        displayName: "Rush build"

      - script: "npm run test:integration"
        workingDirectory: "clients/context-registry"
        displayName: "Run Context Registry Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: clients/extension
        displayName: "Run Extension Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: clients/forms-data-management
        displayName: "Run Forms Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "clients/product-settings"
        displayName: "Run Product Settings Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: clients/projectshare
        displayName: "Run ProjectShare Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: clients/rbac
        displayName: "Run RBAC Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: clients/reality-data
        displayName: "Run Reality Data Client Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "clients/usage-logging"
        displayName: "Run Usage Logging Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "core/backend-itwin-client"
        displayName: "Run Backend iTwin Client Tests"
        condition: succeededOrFailed()

      - script: xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' npm run test:integration
        workingDirectory: "full-stack-tests/core"
        displayName: "Run Core Full Stack Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "full-stack-tests/imodelhub-client"
        displayName: "Run iModelHub Client Full Stack Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "full-stack-tests/rpc-interface"
        displayName: "Run RPC Interface Full Stack Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "full-stack-tests/presentation"
        displayName: "Run Presentation Full Stack Tests"
        condition: succeededOrFailed()

      - script: "npm run test:integration"
        workingDirectory: "tools/oidc-signin-tool"
        displayName: "Run OIDC Sign-in Tool Tests"
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Context Registry Client Test Results"
        inputs:
          testResultsFiles: "clients/context-registry/lib/test/junit_results.xml"
          testRunTitle: "Client - Context Registry Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Extension Clients Test Results"
        inputs:
          testResultsFiles: "clients/extension/lib/test/junit_results.xml"
          testRunTitle: "Client - Extension Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Forms Data Management Clients Test Results"
        inputs:
          testResultsFiles: "clients/forms-data-management/lib/test/junit_results.xml"
          testRunTitle: "Client - Forms Data Management Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Product Settings Clients Test Results"
        inputs:
          testResultsFiles: "clients/product-settings/lib/test/junit_results.xml"
          testRunTitle: "Client - Product Settings Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Project Share Clients Test Results"
        inputs:
          testResultsFiles: "clients/projectshare/lib/test/junit_results.xml"
          testRunTitle: "Client - Project Share Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish RBAC Clients Test Results"
        inputs:
          testResultsFiles: "clients/rbac/lib/test/junit_results.xml"
          testRunTitle: "Client - RBAC Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Reality Data Clients Test Results"
        inputs:
          testResultsFiles: "clients/reality-data/lib/test/junit_results.xml"
          testRunTitle: "Client - Reality Data Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Usage Logging Clients Test Results"
        inputs:
          testResultsFiles: "clients/usage-logging/lib/test/junit_results.xml"
          testRunTitle: "Client - Usage Logging Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Backend Test Results"
        inputs:
          testResultsFiles: "core/backend/lib/test/junit_results.xml"
          testRunTitle: "Core - Backend Tests - $(Node_Version)"
        enabled: false
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Backend iTwin Client Test Results"
        inputs:
          testResultsFiles: "core/backend-itwin-client/lib/test/junit_results.xml"
          testRunTitle: "Core - Backend iTwin Client Tests - $(Node_Version)"
        continueOnError: true
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Core Integration Test Results"
        inputs:
          testResultsFiles: "full-stack-tests/core/lib/test/junit_results.xml"
          testRunTitle: "Core - Integration Tests - $(Node_Version)"
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish iModelHub Client Integration Test Results"
        inputs:
          testResultsFiles: "full-stack-tests/imodelhub-client/lib/test/junit_results.xml"
          testRunTitle: "iModelHub Client - Integration Tests - $(Node_Version)"
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Native App Integration Test Results"
        inputs:
          testResultsFiles: "full-stack-tests/native-app/lib/test/junit_results.xml"
          testRunTitle: "Native App - Integration Tests - $(Node_Version)"
        enabled: false
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Rpc Interface Integration Test Results"
        inputs:
          testResultsFiles: "full-stack-tests/rpc-interface/full_stack_test_results/full_stack_test_result.xml"
          testRunTitle: "Core - Integration Tests - $(Node_Version)"
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Presentation Integration Test Results"
        inputs:
          testResultsFiles: full-stack-tests/presentation/lib/test/junit_results.xml
          testRunTitle: "Presentation - Integration Tests - $(Node_Version)"
        condition: succeededOrFailed()

      - task: PublishTestResults@2
        displayName: "Publish Oidc Signin Tool Test Results"
        inputs:
          testResultsFiles: "tools/oidc-signin-tool/lib/test/junit_results.xml"
          testRunTitle: "Tools - Oidc Signin Tool Tests - $(Node_Version)"
        condition: succeededOrFailed()
