# iTwin.js Core Integration Validation Build
#
# This integration test job currently runs on all supported operating systems and node versions of iTwin.js.
# Runs against master on a weekly schedule, in the future this should be a required check before bumping versions.

trigger: none
pr: none

schedules:
  - cron: "0 0 * * Sun"
    displayName: Weekly Sunday build
    branches:
      include:
        - master

variables:
  - group: iTwin.js non-secret config variables
  - group: iTwin.js Integration Test Users

jobs:
  - job: Integration_Tests_Full
    strategy:
      matrix:
        Linux_node_20_x:
          imageName: ubuntu-22.04 # ubuntu-latest is 24.04, and breaks tests using sandbox
          poolName:
          nodeVersion: 20.x
        Windows_node_20_x:
          imageName: windows-latest
          poolName:
          nodeVersion: 20.x
        MacOS_node_20_x:
          imageName: macos-latest
          poolName: "iModelTechMacArm"
          nodeVersion: 20.x
        Linux_node_22_x:
          imageName: ubuntu-22.04 # ubuntu-latest is 24.04, and breaks tests using sandbox
          poolName:
          nodeVersion: 22.x
        Windows_node_22_x:
          imageName: windows-latest
          poolName:
          nodeVersion: 22.x
        MacOS_node_22_x:
          imageName: macos-latest
          poolName: "iModelTechMacArm"
          nodeVersion: 22.x
        Linux_node_24_x:
          imageName: ubuntu-22.04 # ubuntu-latest is 24.04, and breaks tests using sandbox
          poolName:
          nodeVersion: 24.x
        Windows_node_24_x:
          imageName: windows-latest
          poolName:
          nodeVersion: 24.x
        MacOS_node_24_x:
          imageName: macos-latest
          poolName: "iModelTechMacArm"
          nodeVersion: 24.x
    pool:
      name: $(poolName)
      vmImage: $(imageName)
    steps:
      - checkout: self
        clean: true
        fetchDepth: 1

      - template: templates/integration-test-steps.yaml
        parameters:
          nodeVersion: $(nodeVersion)
