.TreeWidget {
}

.TreeWidget h3 {
  margin: 0;
}

.TreeWidget input {
  margin: 10px;
  margin-left: 0px;
}

.TreeWidget .treeWidgetLoader {
  display:inline-block;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498ff; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  position: relative;
  top: 4px;
  left: -75px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
