@import "../_variables";

.nz-footer-message-content-dialog-content-buttons {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;

  > .nz-content {
    overflow: hidden;
  }

  > .nz-buttons {
    padding-left: $nz-dialog-padding;
    padding-right: $nz-dialog-padding;
    padding-bottom: $nz-dialog-padding;
    margin-left: auto;
    margin-right: 0;

    > * {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
