@import "@bentley/ui-core/lib/colors";
@import "../../../../../_scrollbar";
@import "../_variables";

.nz-footer-message-content-dialog-content-scrollable {
  height: 100%;
  padding-bottom: $nz-dialog-padding;
  box-sizing: border-box;

  > div {
    height: 100%;
    padding-left: $nz-dialog-padding;
    padding-top: $nz-dialog-padding;
    padding-right: $nz-dialog-padding;
    box-sizing: border-box;
    overflow: auto;

    @include nz-scrollbar($color: $background-4);
  }
}
