@import "../_variables";

.nz-widget-toolSettings-settings-noSettings {
  $horizontal-padding: 20px;
  $vertical-padding: 10px;

  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  background-color: $widget-background-color;
}
