@import "../../../_geometry";
@import "../../../_scrollbar";
@import "../_variables";

.nz-widget-toolSettings-settings-scrollableArea {
  $triangle-width: 14px;
  $triangle-height: 8px;
  $max-height: 100px;
  $triangle-color: #666;

  position: relative;

  > .nz-content {
    max-height: $max-height;
    overflow: auto;

    @include nz-hidden-scrollbar;
  }

  > .nz-indicator {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 0;
    background: linear-gradient(rgba($widget-background-color, 1), rgba($widget-background-color, 1), rgba($widget-background-color, 0.5));

    > .nz-triangle {
      cursor: pointer;

      @include triangle-top($height: $triangle-height, $width: $triangle-width, $color: $triangle-color);
    }

    &.nz-bottom {
      align-items: flex-end;
      top: unset;
      bottom: 0;
      background: linear-gradient(rgba($widget-background-color, 0.5), rgba($widget-background-color, 1), rgba($widget-background-color, 1));

      > .nz-triangle {
        @include triangle-bottom($height: $triangle-height, $width: $triangle-width, $color: $triangle-color);
      }
    }
  }
}
