.PropertiesWidget {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-left: 1px solid black;
  padding: 5px;
}

.PropertiesWidget h3 {
  margin: 0;
}

.PropertiesWidget .ContentContainer {
  overflow-y: auto;
}

.PropertiesWidget .ContentContainer table {
  width: 100%;
  table-layout: fixed;
}

.PropertiesWidget .ContentContainer th.GroupLabel {
  /*max-width: 40px;
  overflow: hidden;*/
}

.PropertiesWidget .ContentContainer th.GroupLabel .Rotated {
  /*transform: rotate(-90deg);
  transform-origin: center center 0;
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  white-space: nowrap !important;
  float: left;
  min-width: 400%;
  margin-left: -150%;*/
}

.PropertiesWidget .ContentContainer td.PropertyLabel {
  font-weight: bold;
  text-align: right;
  width: 50%;
  overflow: hidden;
}

.PropertiesWidget .ContentContainer td.PropertyValue {
  text-align: left;
  width: 50%;
  font-size: 90%;
  overflow: hidden;
}

.PropertiesWidget .Error {
  color: red;
}