.treewidget {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  min-width: 0;
}

.treewidget h3 {
  margin: 0;
}

.treewidget-header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 5px 5px 1px 5px;
  margin-bottom: 5px;
}
.treewidget .filteredTree {
  flex: 1;
  min-height: 200px;
}