.simpleicon {
  background-color: #f0f0f0;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 35px;
  height: 35px;
}

.imodelview {
  position: relative;
  width: 98%;
  height: 90%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: gray;
}

.topdiv {
  display: flex;
  align-items: center;
}

.statusspan {
  margin-left: 20px;
}

.bim-spinner-container {
    position:absolute;
    z-index:9999999;
    height:100%;
    width:100%;
    background-color:rgba(255, 255, 255, 0.5);
    top:0;
    left:0;
}

.bim-spinner {
    position:absolute;
    display:block;
    top:calc(50% - 45px);
    left:calc(50% - 45px);
    width: 90px;
    height:90px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid  #008be1; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#viewList {
  padding: 12px;
  margin: 5px;
  cursor:pointer
}