<!doctype html>
<html lang="en">

<head>
  <title>Display Performance Test App</title>
  <style>
    html,
    body {
      height: 100%;
      min-height: 100%;
      width: 100%;
      margin: 0px;
    }

    .root {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    }

    .topdiv {
      display: none;
      position: relative;
      top: 0;
      left: 0;
    }

    .imodel-viewport {
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      display: block;
      height: 1000px;
      width: auto;
    }

  </style>
  <script>
    // refuse to continue if using Internet Explorer or old Microsoft Edge.
    if (!!document.documentMode || !!window.StyleMedia) {
      const body = document.createElement("body");
      const newDiv = document.createElement("div");
      newDiv.style.font = "normal bold 16px sans-serif";
      newDiv.style.display="flex";
      newDiv.style.justifyContent="center";
      newDiv.style.position="relative";
      newDiv.style.top="25%";
      newDiv.innerHTML = "Sorry, the browser you are using is not supported. Please open the iModel.js viewer with Firefox, Chrome, or Safari.";
      body.appendChild(newDiv);
      document.body = body;
      // this effectively comments off the other script tags.
      document.write('<script type="text/undefined">');
    }
  </script>
  <script type="text/javascript" src="v<%= htmlWebpackPlugin.options.runtimeVersion %>/runtime.js"></script>
  <script type="text/javascript" src="v<%= htmlWebpackPlugin.options.loaderVersion %>/IModelJsLoader.js" data-imjsversions='<%= htmlWebpackPlugin.options.imjsVersions %>'></script>
</head>

<body>
  <div class="root" id="root">
    <div class=topdiv id="topdiv">
    </div>
    <div class="imodel-viewport" id="imodel-viewport">
    </div>
  </div>
</body>

</html>
