# start off ignoring everything
*
# then add back only the files we want
!*.md

!lib/**/*.d.ts
!lib/**/*.d.ts.map
!lib/**/*.js
!lib/**/*.js.map
!lib/**/*.*css
!lib/**/*.json
!lib/**/public/**/*

# then ignore some stuff again
lib/**/test/**
lib/**/public/locales/en-PSEUDO/**