# start off ignoring everything, and then add back only the files we want
*
!bin/**/*.js
!config/**/*.js
!config/.nycrc
!mobile/**/*.js
!modules/**/*.js
!scripts/**/*.js
!lib/**/*.d.ts
!lib/**/*.js
!package.json
!index.d.ts
!*.md
