{
  "include": [
    "src/**"
  ],
  "extension": [
    ".ts",
    ".tsx",
    ".js",
    ".jsx"
  ],
  "instrument": false,
  "sourceMap": false,
  "reporter": [
    "text-summary",
    "lcov",
    "cobertura"
  ]
}