.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

.App .Header {
  background-color: #222;
  color: white;
  padding-left: 20px;
}

.App .Content {
  position: relative;
  height: 100%;
  width: 100%;
}

.App .Content .top-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 70%;
}

.App .Content .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 70%;
}

.App .Content .right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
}

.App .Content .right .top {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  overflow: auto;
}

.App .Content .right .bottom {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  overflow: auto;
}
