.PropertiesWidget {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-left: 1px solid black;
  padding: 5px;
}

.PropertiesWidget h3 {
  margin: 0;
}

.PropertiesWidget .ContentContainer {
  overflow-y: auto;
}

.PropertiesWidget .ContentContainer table  {
  width: 100%;
  table-layout: fixed;
}

.PropertiesWidget .ContentContainer td.PropertyLabel {
  font-weight: bold;
  text-align: right;
  width: 50%;
  overflow: hidden;
}

.PropertiesWidget .ContentContainer td.PropertyValue {
  text-align: left;
  width: 50%;
  overflow: hidden;
}