@import "_variables";

.nz-toolbar-item-expandable-group-title {
  $horizontal-margin: 20px;

  white-space: nowrap;
  text-align: center;
  color: $title-color;
  filter: drop-shadow(0 1px 0 $text-dark);
  margin-bottom: 9px;
  margin-left: $horizontal-margin;
  margin-right: $horizontal-margin;

  @include title;
}
