@import "@bentley/ui-core/lib/colors";

$desktop-tool-stripe-width: 2px;
$desktop-tool-stripe-height: 30px;

$icon-color: rgba($text-dark, 0.88);
$hovered-icon-color: $primary-tone;
$pressed-icon-color: rgba($text-light, 0.88);
$active-icon-color: $primary-base;
$icon-shadow-color: $text-light;
$icon-shadow: drop-shadow(0 1px 0 $icon-shadow-color);
$no-shadow: drop-shadow(0 0 0 transparent);