@import "@bentley/ui-core/lib/colors";
@import "../_variables";

.nz-footer-toolAssistance-dialog {
  min-width: $nz-footer-popover-min-width;
  min-height: 75px;
  transform: translateX(-50%);
  color: $background-5;

  &#{&} {
    left: 50%;
  }
}
