@import "../../_geometry";
@import "../_variables";

.nz-footer-toolAssistance-dialog {
  > .nz-content {
    border-style: solid;
    border-color: $dialog-border-color;
    border-width: $dialog-border-width;
    min-width: 200px;
    min-height: 75px;
    background-color: $dialog-bg-color;
  }
}
