# start off ignoring everything
*
# then add back only the files we want
!lib/**/*.d.ts
!lib/**/*.js
!lib/**/*.json
!lib/module/dev/presentation-frontend.js.map
!*.md
# then ignore some stuff again
lib/test
lib/tsconfig.json
