{
  "check-coverage": true,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "lines": 100,
  "require": [
    "jsdom-global/register"
  ],
  "exclude": [
    "src/presentation-frontend.ts",
    "src/test/**",
    "lib/cjs/test/**"
  ]
}