.nz-footer-message-content-status-layout {
  $padding: 10px;
  $vertical-padding: 5px;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  > .nz-label {
    grid-row: 1;
    grid-column: 1;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
  }

  > .nz-buttons {
    grid-row: 1;
    grid-column: 2;
    grid-column-gap: $padding;
    padding-right: $padding;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    > * {
      display: inline-flex;
    }
  }

  > .nz-progress {
    padding: 2px ($padding / 2);
    grid-column: 1/ 3;
    grid-row: 1;
    align-self: end;
  }
}
