parameters:
- name: variableGroup

jobs:
- job: Deploy
  variables:
    - group: ${{ parameters.variableGroup }}
  pool:
    name: PRG Octo Deploy Only
    # demands: DotNetFramework -exists
  steps:
    - script: |
        echo * * * * * * * * * *
        echo * * * * * * * * * * Definition: $(Build.DefinitionName)($(System.DefinitionId))
        echo * * * * * * * * * * Current Release: $(Build.BuildNumber)
        echo * * * * * * * * * * Requested For: $(Build.RequestedFor)
        echo * * * * * * * * * * Deployment To $(env)
        echo * * * * * * * * * * Build: $(Build.BuildNumber)
        echo * * * * * * * * * *
      displayName: Release Header

    - task: octopusdeploy.octopus-deploy-build-release-tasks.octo-installer.OctoInstaller@5
      displayName: Use Octopus CLI tool version 8.0.1
      inputs:
        version: 8.0.1

    - task: octopusdeploy.octopus-deploy-build-release-tasks.octopus-deploy.OctopusDeployRelease@5
      displayName: Deploy Octopus Release to $(env)
      inputs:
        OctoConnectedServiceName: Prod Octopus
        Space: Spaces-1
        Project: $(octopusProjectName)
        ReleaseNumber: $(Build.BuildNumber)
        Environments: $(env)
        ShowProgress: true
        AdditionalArguments: --deploymenttimeout=04:00:00
