# The template defines the primary steps for creating the TypeDoc API files, gathering other md files,
# and running a step to combine everything.

parameters:
  - name: workingDir
    type: string
    default: $(Pipeline.Workspace)/itwinjs-core
  - name: stagingDir
    type: string
    default: $(System.ArtifactsDirectory)/staging
  - name: outputDir
    type: string
    default: $(Pipeline.Workspace)/tempDocsBuild
  - name: downloadCurrentBuildArtifacts
    type: boolean
    default: false
  - name: shouldPublish
    type: boolean
    default: false

jobs:
  - job:
    workspace:
      clean: all
    pool:
      name: iModelTechCI
      demands: Agent.OS -equals Windows_NT
    steps:
      - checkout: self
        path: itwinjs-core
        clean: true

      - task: NodeTool@0
        displayName: Use Node 14
        inputs:
          versionSpec: 14.17.4
          checkLatest: true

      - script: |
          git config --local user.email imodeljs-admin@users.noreply.github.com
          git config --local user.name imodeljs-admin
        displayName: Setup git config

      - script: node common/scripts/install-run-rush.js install
        displayName: rush install
        workingDirectory: ${{ parameters.workingDir }}

      - script: node common/scripts/install-run-rush.js build:ci
        displayName: rush build
        workingDirectory: ${{ parameters.workingDir }}

      - script: node common/scripts/install-run-rush.js docs
        displayName: rush docs
        workingDirectory: ${{ parameters.workingDir }}

      # Gathers all the pieces to run BeMetalsmith
      - template: ../../templates/gather-docs.yaml
        parameters:
          workingDir: ${{ parameters.workingDir }}
          stagingDir: ${{ parameters.stagingDir }}
          downloadCurrentBuildArtifacts: ${{ parameters.downloadCurrentBuildArtifacts }}

      # Currently BeMetalsmith is an internal only tool
      - script: npm install @bentley/bemetalsmith@4.x
        displayName: Install BeMetalsmith
        workingDirectory: ${{ parameters.workingDir }}

      - script: "./node_modules/.bin/bmsBuild --strictLinkChecking --topicsMustHaveDesc --source ${{ parameters.stagingDir }} --destination ${{ parameters.outputDir }}/public_build --siteTitle iTwin.js"
        displayName: Run bmsBuild
        workingDirectory: ${{ parameters.workingDir }}

      # Update the .updated.json file after the bmsBuild
      - publish: ${{ parameters.stagingDir }}/config/.updated.json
        artifact: .updated.json
        displayName: Publish Pipeline Artifact - .updated.json
        condition: and(succeeded(), eq('${{ parameters.downloadCurrentBuildArtifacts }}', false))

      - publish: ${{ parameters.outputDir }}
        artifact: DocsBuild
        displayName: Publish Pipeline Artifact - DocsBuild
        condition: and(succeeded(), eq('${{ parameters.shouldPublish }}', true))

      - script: |
          CALL node -p "require('./core/backend/package.json').version" > tmp.txt
          SET /p currentVersion= < tmp.txt
          DEL tmp.txt
          CALL npm view @itwin/core-backend@%currentVersion% >nul 2>&1
          @REM IF %ERRORLEVEL%==0 (
          @REM   ECHO %currentVersion% already exists
          @REM ) ELSE (
          ECHO Releasing %currentVersion%
          ECHO ##vso[build.addbuildtag]iTwinJsDocsRelease
          ECHO ##vso[build.updatebuildnumber]%currentVersion%
          @REM )
        displayName: Tag if new release
        workingDirectory: ${{ parameters.workingDir }}
        condition: and(succeeded(), eq('${{ parameters.shouldPublish }}', true))
