parameters:
- name: variableGroup

jobs:
- job: UpdateDocsIndex
  pool:
    vmImage: ubuntu-latest


  variables:
  - group: ${{ parameters.variableGroup }}
  - name: bemetalsmithAlgoliaDir
    value: $(Pipeline.Workspace)/bemetalsmith/packages/bemetalsmith-algolia/

  steps:
  - checkout: bemetalsmith
    path: bemetalsmith

  - task: colinsalmcorner.colinsalmcorner-buildtasks.replace-tokens-task.ReplaceTokens@1
    displayName: Replace tokens in algolia.json
    inputs:
      sourcePath: $(bemetalsmithAlgoliaDir)
      filePattern: algolia.json
      secretTokens: AlgoliaApiKey:$(AlgoliaApiKey)

  - task: NodeTool@0
    displayName: Use Node 16
    inputs:
      versionSpec: 16.13.0
      checkLatest: true

  - task: Npm@1
    displayName: npm install
    inputs:
      command: install
      workingDir: $(bemetalsmithAlgoliaDir)

  - task: Npm@1
    displayName: npm run deleteOldDocsIndex
    inputs:
      command: custom
      customCommand: run deleteOldDocsIndex
      workingDir: $(bemetalsmithAlgoliaDir)

  - task: Npm@1
    displayName: npm run uploadDocsIndex
    inputs:
      command: custom
      customCommand: run uploadDocsIndex
      workingDir: $(bemetalsmithAlgoliaDir)
