@import "@bentley/bwc/lib/mixins";

.core-property-block {
  @include bwc-expandable-blocks-block;

  .header {
    padding: 4px;

    .icon-container {
      line-height: 23px;
      width: 23px;
    }

    .title {
      font-size: 0.95em;
      line-height: 23px;
    }
  }
}