# This template handles gathering all of the raw docs artifacts into a single staging directory
# to allow them to be processed for publication.

parameters:
  - name: workingDir
    type: string
    default: $(Pipeline.Workspace)/itwinjs-core
  - name: stagingDir
    type: string
    default: $(System.ArtifactsDirectory)/staging/
  - name: useCurrentBisDocsArtifact
    type: boolean
    default: false

steps:
  # build script exists outside of any project so manually install fs-extra
  - script: npm install fs-extra
    displayName: Install fs-extra
    workingDirectory: ${{ parameters.workingDir }}
  # Call the copying script
  - script: node common/scripts/copyReferenceFilesToStaging.js ${{ parameters.stagingDir }}
    displayName: Copy Reference files to Staging
    workingDirectory: ${{ parameters.workingDir }}

  # Download BIS Docs artifact
  - ${{ if eq(parameters.useCurrentBisDocsArtifact, true) }}:
    - download: current
      artifact: Bis Docs
      displayName: Download Bis Docs Artifact

  - ${{ else }}:
    - task: DownloadPipelineArtifact@2
      displayName: Download Bis Docs Artifact
      inputs:
        buildType: specific
        project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
        pipeline: 6075
        buildVersionToDownload: latestFromBranch
        branchName: refs/heads/master
        artifactName: Bis Docs
        targetPath: $(Pipeline.Workspace)/Bis Docs

  - task: CopyFiles@2
    displayName: Copy Bis Docs to staging
    inputs:
      SourceFolder: $(Pipeline.Workspace)/Bis Docs
      TargetFolder: ${{ parameters.stagingDir }}/bis/domains/

  # The .updated.json is cached to track when the docs were last updated
  - task: DownloadPipelineArtifact@2
    displayName: Download Pipeline Artifact - .updated.json
    inputs:
      buildType: specific
      project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
      pipeline: 7436 # iTwin.js/Docs/iTwin.js Docs - YAML
      buildVersionToDownload: latestFromBranch
      branchName: refs/heads/release/3.7.x
      artifactName: .updated.json
      targetPath: ${{ parameters.stagingDir }}/config/
