# This template handles gathering all of the raw docs artifacts into a single staging directory
# to allow them to be processed for publication.

parameters:
  - name: workingDir
    type: string
    default: $(Pipeline.Workspace)/itwinjs-core
  - name: stagingDir
    type: string
    default: $(System.ArtifactsDirectory)/staging/
  - name: useCurrentAppUIDocsArtifact
    type: boolean
    default: false
  - name: useCurrentBisDocsArtifact
    type: boolean
    default: false
  - name: useCurrentPresentationDocsArtifact
    type: boolean
    default: false

steps:
  # build script exists outside of any project so manually install fs-extra
  - script: npm install fs-extra
    displayName: Install fs-extra
    workingDirectory: ${{ parameters.workingDir }}
  # Call the copying script
  - script: node common/scripts/copyReferenceFilesToStaging.js ${{ parameters.stagingDir }}
    displayName: Copy Reference files to Staging
    workingDirectory: ${{ parameters.workingDir }}

  # Download AppUI Docs artifact
  - ${{ if eq(parameters.useCurrentAppUIDocsArtifact, true) }}:
    - download: current
      artifact: AppUI Docs
      displayName: Download AppUI Docs Artifact

  - ${{ else }}:
    - task: DownloadPipelineArtifact@2
      displayName: Download AppUI Docs Artifact
      inputs:
        buildType: specific
        project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
        pipeline: 8594
        buildVersionToDownload: latestFromBranch
        branchName: refs/heads/master
        artifactName: AppUI Docs
        targetPath: $(Pipeline.Workspace)/AppUI Docs

  - task: CopyFiles@2
    displayName: Copy AppUI Docs to staging
    inputs:
      SourceFolder: $(Pipeline.Workspace)/AppUI Docs
      TargetFolder: ${{ parameters.stagingDir }}
      OverWrite: true

  # Download BIS Docs artifact
  - ${{ if eq(parameters.useCurrentBisDocsArtifact, true) }}:
    - download: current
      artifact: Bis Docs
      displayName: Download Bis Docs Artifact

  - ${{ else }}:
    - task: DownloadPipelineArtifact@2
      displayName: Download Bis Docs Artifact
      inputs:
        buildType: specific
        project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
        pipeline: 6075
        buildVersionToDownload: latestFromBranch
        branchName: refs/heads/master
        artifactName: Bis Docs
        targetPath: $(Pipeline.Workspace)/Bis Docs

  - task: CopyFiles@2
    displayName: Copy Bis Docs to staging
    inputs:
      SourceFolder: $(Pipeline.Workspace)/Bis Docs
      TargetFolder: ${{ parameters.stagingDir }}/bis/domains/

  # Download Presentation Docs artifact
  # - ${{ if eq(parameters.useCurrentPresentationDocsArtifact, true) }}:
  #   - download: current
  #     artifact: Presentation Docs
  #     displayName: Download Presentation Docs Artifact

  # - ${{ else }}:
  #   - task: DownloadPipelineArtifact@2
  #     displayName: Download Presentation Docs Artifact
  #     inputs:
  #       buildType: specific
  #       project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
  #       pipeline: 8602
  #       buildVersionToDownload: latestFromBranch
  #       branchName: refs/heads/master
  #       artifactName: Presentation Docs
  #       targetPath: $(Pipeline.Workspace)/Presentation Docs

  - task: CopyFiles@2
    displayName: Copy Presentation Docs to staging
    inputs:
      SourceFolder: $(Pipeline.Workspace)/Presentation Docs
      TargetFolder: ${{ parameters.stagingDir }}
      OverWrite: true

  # The .updated.json is cached to track when the docs were last updated
  - task: DownloadPipelineArtifact@2
    displayName: Download Pipeline Artifact - .updated.json
    inputs:
      buildType: specific
      project: 2c48216e-e72f-48b4-a4eb-40ff1c04e8e4
      pipeline: 7436 # iTwin.js/Docs/iTwin.js Docs - YAML
      buildVersionToDownload: latestFromBranch
      branchName: refs/heads/master
      artifactName: .updated.json
      targetPath: ${{ parameters.stagingDir }}/config/
