parameters:
  - name: Node_Version # name of the parameter; required
    type: string # data type of the parameter; required

steps:
  - checkout: self
    clean: all

  - template: setup-integration-users.yaml

  - task: NodeTool@0
    displayName: "Use Node ${{ parameters.Node_Version }}"
    inputs:
      versionSpec: "${{ parameters.Node_Version }}"
      checkLatest: true

  - script: "git config --local user.email imodeljs-admin@users.noreply.github.com"
    displayName: "git config email"
  - script: "git config --local user.name imodeljs-admin"
    displayName: "git config name"

  - script: node ./common/scripts/install-run-rush install
    displayName: rush install

  - script: |
      node ./common/scripts/install-run-rush build -v --to backend-itwin-client

      node ./common/scripts/install-run-rush build -v --to itwin-registry-client

      node ./common/scripts/install-run-rush build -v --to reality-data-client

      node ./common/scripts/install-run-rush build -v --to core-backend

      node ./common/scripts/install-run-rush build -v --to core-transformer

      node ./common/scripts/install-run-rush build -v --to imodelhub-client-tests

      node ./common/scripts/install-run-rush build -v --to core-full-stack-tests

      node ./common/scripts/install-run-rush build -v --to rpcinterface-full-stack-tests

      node ./common/scripts/install-run-rush build -v --to presentation-full-stack-tests

      node ./common/scripts/install-run-rush build -v --to oidc-signin-tool
    displayName: "Rush build"

  - script: "npm run test:integration"
    workingDirectory: "clients/itwin-registry"
    displayName: "Run iTwin Registry Client Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: clients/reality-data
    displayName: "Run Reality Data Client Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "core/backend"
    displayName: "Run Backend Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "core/backend-itwin-client"
    displayName: "Run Backend iTwin Client Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "core/transformer"
    displayName: "Run Transformer Tests"
    condition: succeededOrFailed()

  - script: xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' npm run test:integration
    workingDirectory: "full-stack-tests/core"
    displayName: "Run Core Full Stack Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "full-stack-tests/imodelhub-client"
    displayName: "Run iModelHub Client Full Stack Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "full-stack-tests/rpc-interface"
    displayName: "Run RPC Interface Full Stack Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "full-stack-tests/presentation"
    displayName: "Run Presentation Full Stack Tests"
    condition: succeededOrFailed()

  - script: "npm run test:integration"
    workingDirectory: "tools/oidc-signin-tool"
    displayName: "Run OIDC Sign-in Tool Tests"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish iTwin Registry Client Test Results"
    inputs:
      testResultsFiles: "clients/itwin-registry/lib/test/junit_results.xml"
      testRunTitle: "Client - iTwin Registry Tests - ${{ parameters.Node_Version }}"
    continueOnError: true
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Reality Data Clients Test Results"
    inputs:
      testResultsFiles: "clients/reality-data/lib/test/junit_results.xml"
      testRunTitle: "Client - Reality Data Tests - ${{ parameters.Node_Version }}"
    continueOnError: true
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Backend Test Results"
    inputs:
      testResultsFiles: "core/backend/lib/test/junit_results.xml"
      testRunTitle: "Core - Backend Tests - ${{ parameters.Node_Version }}"
    continueOnError: true
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Backend iTwin Client Test Results"
    inputs:
      testResultsFiles: "core/backend-itwin-client/lib/test/junit_results.xml"
      testRunTitle: "Core - Backend iTwin Client Tests - ${{ parameters.Node_Version }}"
    continueOnError: true
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Transformer Test Results"
    inputs:
      testResultsFiles: "core/transformer/lib/test/junit_results.xml"
      testRunTitle: "Core - Transformer Tests - ${{ parameters.Node_Version }}"
    continueOnError: true
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Core Integration Test Results"
    inputs:
      testResultsFiles: "full-stack-tests/core/lib/test/junit_results.xml"
      testRunTitle: "Core - Integration Tests - ${{ parameters.Node_Version }}"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish iModelHub Client Integration Test Results"
    inputs:
      testResultsFiles: "full-stack-tests/imodelhub-client/lib/test/junit_results.xml"
      testRunTitle: "iModelHub Client - Integration Tests - ${{ parameters.Node_Version }}"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Native App Integration Test Results"
    inputs:
      testResultsFiles: "full-stack-tests/native-app/lib/test/junit_results.xml"
      testRunTitle: "Native App - Integration Tests - ${{ parameters.Node_Version }}"
    enabled: false
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Rpc Interface Integration Test Results"
    inputs:
      testResultsFiles: "full-stack-tests/rpc-interface/full_stack_test_results/full_stack_test_result.xml"
      testRunTitle: "Core - Integration Tests - ${{ parameters.Node_Version }}"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Presentation Integration Test Results"
    inputs:
      testResultsFiles: full-stack-tests/presentation/lib/test/junit_results.xml
      testRunTitle: "Presentation - Integration Tests - ${{ parameters.Node_Version }}"
    condition: succeededOrFailed()

  - task: PublishTestResults@2
    displayName: "Publish Oidc Signin Tool Test Results"
    inputs:
      testResultsFiles: "tools/oidc-signin-tool/lib/test/junit_results.xml"
      testRunTitle: "Tools - Oidc Signin Tool Tests - ${{ parameters.Node_Version }}"
    condition: succeededOrFailed()