{
  "include": ["core/backend/src/**/*", "core/backend/lib/**/*", "core/frontend/src/**/*", "core/frontend/lib/**/*"],
  "exclude": ["**/*.d.ts", "**/*.d.tsx"],
  "extension": [".ts", ".tsx"],
  "temp-dir": "./full-stack-tests/core/coverage/.nyc_output",
  "report-dir": "./full-stack-tests/core/coverage/",
  "reporter": ["text-summary", "lcov", "cobertura"],
  "cache": false,
  "cwd": "../.."
}
