.GridWidget {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding: 5px;
  width: 100%;
}

.GridWidget h3 {
  margin: 0;
}

.GridWidget .ContentContainer {
  overflow-y: auto;
  height: 100%;
}
