@import "@bentley/ui-core/lib/colors";
@import "item/_variables";
@import "scroll/_variables";
@import "_variables";

.nz-toolbar-items {
  $desktop-space-between-toolbar-items: 1px;
  $divider-color: $background-4;
  $border-color: $background-5;
  $border-radius: 3px;
  $size: $desktop-item-height;

  border-color: $border-color;
  border-width: $items-border-width;
  border-radius: $border-radius;
  border-style: solid;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;

  &.nz-vertical {
    width: $size;

    > * {
      &:not(:first-child) {
        &:not(:only-child) {
          &:after {
            content: '';
            background-color: $divider-color;
            display: block;
            position: absolute;
            pointer-events: none;
            height: $desktop-space-between-toolbar-items;
            width: 100%;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  &.nz-horizontal {
    height: $size;

    > * {
      display: inline-block;
      height: 100%;

      &:not(:first-child) {
        &:not(:only-child) {
          &:after {
            content: '';
            background-color: $divider-color;
            display: block;
            position: absolute;
            pointer-events: none;
            width: $desktop-space-between-toolbar-items;
            height: 100%;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  > * {
    vertical-align: bottom;
  }
}
